.alternada{
    list-style: upper-alpha;
    font-size: 30px;
    width: fit-content;
    color: black;
}

.alternada li:nth-child(odd){
    background-color: gray;
}

.alternada li:nth-child(even){
    background-color: wheat;
}
.alternada li:hover{
    font-weight: bolder;
    
}