* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fdf6f8;
  color: #333;
}

header {
  background: linear-gradient(to right, #f8cdda, #f5e3d3);
  text-align: center;
  padding: 30px 20px;
}

header h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #c06c84;
}

header p {
  margin: 10px 0;
  font-style: italic;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  padding: 50px 20px;
  text-align: center;
}

h3 {
  margin-bottom: 15px;
  color: #333;
}

h2 {
  margin-bottom: 20px;
  color: #c06c84;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #c06c84;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  max-width: 800px;
  margin: auto;
}

.galeria img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.galeria img:hover {
  transform: scale(1.05);
}

.btn-agendar {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 45px;
  border: 2px solid #333;
  color: #c06c84;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}

.btn-agendar::before {
  content: '';
  position: absolute;
  top: 0;
  left: -120%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(192, 108, 132, 0.4),
    transparent
  );
  transition: 0.6s;
}

.btn-agendar:hover::before {
  left: 120%;
}



footer {
  background: #c06c84;
  color: white;
  text-align: center;
  padding: 15px;
}
